stt-process/statemachine/stt_workflow.asl.json
{
    "Comment": "Legal STT Workflow",
    "StartAt": "ProcessAudioInput",
    "States": {
      "ProcessAudioInput": {
        "Type": "Task",
        "Resource": "${DataLambda}",
        "Parameters": {
          "audioUploadsBucket.$": "$.audioUploadsBucket",
          "transcriptionOutputBucket.$": "$.transcriptionOutputBucket"
        },
        "Next": "PerformTranscription"
      },
      "PerformTranscription": {
        "Type": "Task",
        "Resource": "${TranscribeLambda}",
        "Next": "WaitForTranscription"
      },
      "WaitForTranscription": {
        "Type": "Wait",
        "Seconds": 30,
        "Next": "CheckTranscriptionStatus"
      },
      "CheckTranscriptionStatus": {
        "Type": "Task",
        "Resource": "${TranscribeLambda}",
        "Next": "IsTranscriptionComplete"
      },
      "IsTranscriptionComplete": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.transcriptionJobStatus",
            "StringEquals": "COMPLETED",
            "Next": "EnhanceTranscript"
          },
          {
            "Variable": "$.transcriptionJobStatus",
            "StringEquals": "FAILED",
            "Next": "TranscriptionJobFailed"
          }
        ],
        "Default": "WaitForTranscription"
      },
      "EnhanceTranscript": {
        "Type": "Task",
        "Resource": "${EnhanceLambda}",
        "Next": "StoreResults"
      },
      "StoreResults": {
        "Type": "Task",
        "Resource": "${StoreLambda}",
        "Parameters": {
          "transcriptionOutputBucket.$": "$.transcriptionOutputBucket",
          "enhancedTranscript.$": "$.enhancedTranscript",
          "speakers.$": "$.speakers",
          "transcriptionJobName.$": "$.transcriptionJobName"
        },
        "End": true
      },
      "TranscriptionJobFailed": {
        "Type": "Fail",
        "Cause": "AWS Transcribe job failed",
        "Error": "TranscriptionJobFailedError"
      }
    }
  }